body {
    margin: 20px;
}

.test-status-running {
    color: gray;
}

.test-status-passed {
    color: green;
}

.test-status-failed {
    color: red;
}


.error-messages li {
    color: red;
}


#specs-browser .file-item {
    font-size: 0.9em;
    color: black;
}


.test-status-running {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
