body {
    margin: 0px;
}

a.link-with-icon span.link-icon {
    padding-right: 5px;
    width: 24px;
}

.navbar {
    margin: 0;
    border-radius: 0;
    background: #222;
}
nav a.navbar-brand img {
    position: absolute;
    left: 8px;
    top: 12px;
}
nav a.navbar-brand {
    font-weight: bold;
    padding-left: 40px;
    position: relative;
}

.container {
    width: auto;
    padding-top: 5px;
}

.panel-heading {
    padding: 4px 8px 4px 8px;
    position: relative;
}
.panel-heading .panel-buttons {
    display: inline-block;
}
.panel-heading .panel-buttons button {
    padding: 3px;
}
.panel-heading .panel-buttons button .glyphicon {
    font-size: 10px;
    margin: 0;
}
.panel-body {
    padding: 2px;
}

.table thead tr th {
    font-size: 0.8em;
    padding: 4px;
}

.table tbody tr td {
    font-size: 0.9em;
    padding: 4px;
}
.table tbody tr td button {
    padding: 4px;
}




.layout-whitespace-nowrap {
    white-space: nowrap;
}

.scrollable-panel-group-a {
    min-height: 200px;
    max-height: 200px;
    height: 200px;
    overflow: scroll;
}

.test-status-running {
    color: gray;
}

.test-status .test-status-icon {
    display: none;
}
.test-status-running {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
.test-status-passed {
    color: green;
}
.test-status-passed .test-status-icon-passed {
    display: inline;
}
.test-status-failed .test-status-icon-failed {
    display: inline;
}
.test-status-running .test-status-icon-running {
    display: inline;
}
.test-status-warning .test-status-icon-warning {
    display: inline;
}

.test-status-failed {
    color: red;
}


.error-messages li {
    color: red;
}

.file-editor .modal-dialog {
    width: 95%;
}
pre.code {
    background: #333;
    background: url("../images/code-back.png") repeat;
}
pre.code code {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}

.file-browser .file-item {
    font-size: 0.9em;
    color: black;
}
.file-browser a .link-icon {
    color: #428bca;
}
.file-browser a.file-item .link-icon {
    color: #777;
}
.file-browser button.action-launch-spec {
    padding: 1px 4px;
    margin-top: 0;
    margin-bottom: 0;
}





.device-status-SHUTDOWN {
    opacity: 0.2;
}
.device-status-CRASHED {
    color: red;
    opacity: 0.2;
}
.device-error-message {
    display: none;
}

.device-status-CRASHED .device-error-message {
    display: block;
}

.device-icon {
    display: inline-block;
}
.device-icon img{
    width: 24px;
    height: 24px;
    display: none;
}
.device-icon-firefox img {
    display: inline-block;
}
.device-icon-chrome img {
    display: inline-block;
}
.device-icon-safari img {
    display: inline-block;
}

ul.device-tags, .device-sizes ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.device-tags li, .device-sizes ul li {
    float: left;
    margin: 2px;
    font-size: 0.8em;
    color: black;
    border: 1px solid #aaa;
    padding: 1px 3px 1px 3px;
    background: #efefef;
    border-radius: 3px;
}
.device-sizes .size-splitter {
    color: #666;
}

ul.device-tags:after , .device-sizes ul:after {
    display: block;
    clear: both;
    content: " ";
}

.device-sizes code {
    color: #111;
}



/* Devices modal */
.settings-form-group-size {
    padding-top: 10px;
    padding-bottom: 10px;
}


label {
    font-weight: normal
}
.modal-section {
    border-bottom:1px solid #ddd;
    padding-bottom: 30px
}
.modal-section:last-child {
    border-bottom: none;
    padding-bottom: 10px
}
h5 {
    padding-top: 10px;
    padding-bottom: 2px;
    font-weight: bold;
}
input[type='checkbox'] {
    margin: 8px;
}



.invalid-form-value {
    border: 1px solid red;
    background: #ffeeee;
    color: red;
}


/* Tests results */
.test-results-overview .last-test-command {
    padding: 10px;
}

@keyframes blink {
    0%   { opacity:1; }
    50%  { opacity:0.2; }
    100% { opacity:1; }
}
@-webkit-keyframes blink {
    0%   { opacity:1; }
    50%  { opacity:0.2; }
    100% { opacity:1; }
}
