body {
    margin: 2px;
}

nav a.navbar-brand img {
    position: absolute;
    left: 8px;
    top: 12px;
}
nav a.navbar-brand {
    font-weight: bold;
    padding-left: 40px;
    position: relative;
}

.layout-whitespace-nowrap {
    white-space: nowrap;
}

.scrollable-panel-group-a {
    min-height: 200px;
    max-height: 200px;
    height: 200px;
    overflow: scroll;
}

.test-status-running {
    color: gray;
}

.test-status-passed {
    color: green;
}

.test-status-failed {
    color: red;
}


.error-messages li {
    color: red;
}

#file-editor .modal-dialog {
    width: 95%;
}
pre.code {
    background: #333;
    background: url("../images/code-back.png") repeat;
}
pre.code code {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}

#specs-browser .file-item {
    font-size: 0.9em;
    color: black;
}


.device-status-SHUTDOWN {
    opacity: 0.2;
}
.device-status-CRASHED {
    color: red;
    opacity: 0.2;
}
.device-error-message {
    display: none;
}

.device-status-CRASHED .device-error-message {
    display: block;
}

.device-icon {
    display: inline-block;
}
.device-icon img{
    width: 24px;
    height: 24px;
    display: none;
}
.device-icon-firefox img {
    display: inline-block;
}
.device-icon-chrome img {
    display: inline-block;
}
.device-icon-safari img {
    display: inline-block;
}

ul.device-tags, .device-sizes ul {
    list-style: none;
    padding: 0;
}
ul.device-tags li, .device-sizes ul li {
    float: left;
    margin: 2px;
    font-size: 0.8em;
    color: black;
    border: 1px solid #aaa;
    padding: 1px 3px 1px 3px;
    background: #efefef;
    border-radius: 3px;
}
.device-sizes .size-splitter {
    color: #666;
}

ul.device-tags:after , .device-sizes ul:after {
    display: block;
    clear: both;
    content: " ";
}

.device-sizes code {
    color: #111;
}

.test-status-running {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}


/* Devices modal */
.settings-form-group-size {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.settings-form-group-size.show-by-default {
    display: block;
}


@keyframes blink {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
